{% extends 'base.html' %}
{% load static %}

{% block head %}
<title> Admin Panel </title>
<!--Css-->
{% endblock head %}

{% block content %}
<div class="container">
    {% if user.is_superuser %}
    <p>Welcome to Admin Panel</p>
    
    <!--Products-->
    <div class="row" style="margin-top: 50px;">
        <div class="center">
            <div class="shadow text-center">
                <h1 class="title">Products</h1>
                
                <form method = 'POST' enctype="multipart/form-data" style="padding-bottom: 50px;margin-bottom: 50px;">
                    {% csrf_token %}
                    <table class = 'w-50 table table-light text-center center' style="border-radius:10px;background-color:#FFFF99;padding-left: 0px;margin-left: 300px;">
                        {% for field in upload_form %}
                        <tr>
                            <th>{{field.label}}</th>
                            <td>{{ field }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <button type="submit" class="btn btn-lg btn-warning">Submit</button>
                </form>
                   

            </div>
        </div>
    </div>

    <!--Order-->
    <div class="row" >
        <div class="center">
            <div class="shadow text-center" style="margin-top: 50px;padding-top: 50px;padding-bottom: 50px;">
                <h1 class="title">Orders</h1>
                
               
                    
                    <table class = 'w-50 table table-light text-center center' style="border-radius:10px;background-color:#FFFF99;padding-left: 0px;margin-left: 300px;">
                        
                        <tr>
                            <th>Order ID</th>
                            <th>Order Quantity</th>
                            <th>Price</th>
                            <th>Customer ID</th>
                            <th>Products ID</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>date</th>
                            <th>Status</th>
                        </tr>
                        <tr>
                            {% for orders in orders %}
                            <td>{{ orders.id }}</td>
                            <td>{{ orders.quantity }}</td>
                            <td>{{ orders.price }}</td>
                            <td>{{ orders.customer_id }}</td>
                            <td>{{ orders.product_id }}</td>
                            <td>{{ orders.address }}</td>
                            <td>{{ orders.phone }}</td>
                            <td>{{ orders.date }}</td>
                            <td>{{ orders.status }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    
                </form>
                   

            </div>
        </div>
    </div>

    



    {% else %}
        {% if user.is_authenticated %}
        <p class="alert alert-primary" role="alert">You are not an Admin</p>
        {% else %}
        <p class="alert alert-primary" role="alert">You need to Login</p>
        {% endif %}
    {% endif %}

</div>

{% endblock content %}
