{% extends './base.html' %}
{% block title %}Drone Technology{% endblock title %}
{% load static %}
{% block content %}
<section class="clean-block clean-post dark">
    <div class="container">
        <div class="block-content">
            <div class="post-image" style="background-image:url(https://www.croptracker.com/images/blog/dronefliesoverOrchard.png);"></div>
            <div class="post-body">
                <h3>Drone Technology</h3>
                <div class="post-info"><span>By John Smith</span><span>Jan 27, 2018</span></div>
                <p>The use of drones in almost every sector of the economy is growing fast, but drone usage in the agricultural industry is booming. According to some reports, the agricultural drone market is expected to grow from a $1.2 billion(USD) industry in 2019 to $4.8 billion in 2024. From scouting to security, drone use will become more ubiquitous on large and small scale farms in a few short years. The information gathered by drones on farms is often used to better inform agronomic decisions and is part of a system generally referred to as ‘precision agriculture’.

                    In many areas, drone use has become an essential part of large scale precision farming operations already. The data collected from drones recording fields help farmers plan their planting and treatments to achieve the best possible yields. Some reports indicate that using precision farming systems can increase yields by as much as 5%, which is a sizeable increase in an industry with typically slim profit margins.
                    
                    In this article we will take a look at some of the areas where drone technologies are already being used on farms, some new agricultural drone technologies being explored, and we will touch on some of the steps and challenges to adopting widespread drone use in agriculture.</p>
                <figure class="figure"><img class="rounded img-fluid figure-img" src="https://www.croptracker.com/images/blog/10_Emerging_AgTech_Innovations/droneMoisturelevels.jpg" alt="A generic square placeholder image with rounded corners in a figure.">
                   
                </figure>
                <h4>Monitoring Field Conditions</h4>
                <p>Drone field monitoring is also being used to monitor the health of soil and field conditions. Drones can provide accurate field mapping including elevation information that allow growers to find any irregularities in the field. Having information on field elevation is useful in determining drainage patterns and wet/dry spots which allow for more efficient watering techniques. Some agricultural drone retailers and service providers also offer nitrogen level monitoring in soil using enhanced sensors. This allows for precise application of fertilizers, eliminating poor growing spots and improving soil health for years to come.</p>
                <div class="row">
                    <div class="col-md-6">
                        <figure class="figure"><img class="rounded img-fluid figure-img" src="https://media1.giphy.com/media/mGb2Q4Bp0pqVZVPCNs/giphy.gif?cid=790b7611cc1ec8646483aa1613074b99d9d20c532ba484a9&rid=giphy.gif&ct=g" alt="A generic square placeholder image with rounded corners in a figure.">
                            
                        </figure>
                    </div>
                    <div class="col">
                        <p>One of the newer and less wide spread uses of drones in agriculture is for planting seeds. Automated drone seeders are mostly being used in forestry industries right now, but the potential for more widespread use is on the horizon. Planting with drones means very hard to reach areas can be replanted without endangering workers. They are also able to plant much more efficiently with a team of two operators and ten drones capable of planting 400,000 trees a day.</p>
                        <h2> To know details about, please contact us </h2><a class="btn btn-primary" href="/contact">Contact</a>
                    </div>
                </div>
               
                </div>
            </div>
        </div>
    </div>
</section>
</main>
{% endblock content %}